*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#conter{
    width: 1000px;
    margin: auto;
}

#help-left{
    width: 200px;
    float: left;
}

.menu{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.menu:last-child{
    border-bottom: 1px solid #ccc;
}

.menu summary{
    height: 40px; 
    line-height: 40px;
    text-indent: 10px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #ddd;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fefefe),color-stop(1,#cccccc));
    cursor: pointer;
}

/* 去掉三角 */
.menu summary::-webkit-details-marker{
    display: none;
}

.menu summary:before{
    content: "+";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px ;
    font-size: 18px;
    font-weight: 700;
}

.menu[open] summary:before{
    content: "-";
}

.menu ul li a {
    display: block;
    color: #666;
}

.menu ul li a:hover{
    text-decoration: underline;
}