body{
    padding: 0;
    margin: 0;
    background: url("../image/BAlang.png") no-repeat center center;
    background-attachment: fixed;
    background-size: 100%;
    float: auto;
    background-position: center;
}
.loginCard {
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    width: fit-content;
    padding: 12px 35px;
    margin: 25% auto;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,0.8);
    box-shadow: 0px 0xp 20px 2px rgb(17, 9, 9);
    backdrop-filter: blur(10px);

    /* font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, #ff7e5f, #feb47b); */
    /*background-image: url(../images/background.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333; */
}
.loginCard .logo{
    width: 225px;
    height: 50px;
    margin: 0 auto;
    /* border: 1px solid red; */
    transform: translateY(-40px);
    /* background-color: white; */
    box-shadow: 0px 0xp 14px 2px black;
    
}
.loginCard .logo img{
    width: 100%;
}